@{
  Layout = "_Layout";
}

@model RelationsPractice.Models.NonProfit

<h2>Edit</h2>

<h4>Edit this non profit: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.NonProfitId)

    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to non profits", "Index")</p>